NET "adr[0]" LOC = "L13" | IOSTANDARD = LVTTL | PULLUP ;
NET "adr[1]" LOC = "L14" | IOSTANDARD = LVTTL | PULLUP ;
NET "adr[2]" LOC = "H18" | IOSTANDARD = LVTTL | PULLUP ;
NET "adr[3]" LOC = "N17" | IOSTANDARD = LVTTL | PULLUP ;
NET "rst_sporki" LOC = "K17" | IOSTANDARD = LVTTL | PULLDOWN ;
NET "clk_sporki" LOC = "D18" | IOSTANDARD = LVTTL | PULLDOWN ;
NET "clk50" LOC = "C9" | IOSTANDARD = LVCMOS33 ;
NET "d_out[7]" LOC = "F9" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "d_out[6]" LOC = "E9" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "d_out[5]" LOC = "D11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "d_out[4]" LOC = "C11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "d_out[3]" LOC = "F11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "d_out[2]" LOC = "E11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "d_out[1]" LOC = "E12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "d_out[0]" LOC = "F12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;